/***************************************************************
 *                                                             *
 *                            showcase                         *
 *                                                             *
 ***************************************************************/
 html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#container {
    flex: 1;
}

#showcase {
    height: 100vh;
    align-items: center;
    transition: all 0.2s ease-in-out 0s;
}

#showcase > div {
    display: none;
}

#showcase-captions {
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    right: 2%;
    transition: all 0.3s ease-in 0s;
}

.showcase-caption {
    width: 100%;
}

#showcase-desc {
    font-size: 1rem;
}

#showcase-image {
    position: relative;
    overflow: hidden;
    padding-right: 0;
    width: 45vw;
    bottom: 4%;
}

#showcase-image img {
    display: block;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

#showcase-image video {
    display: block;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}

.poster-box {
    width: 100%;
}

#poster {
    width: 100%;
}

@media(max-width: 800px) {
    #showcase-title {
        text-align: center;
    }

    #showcase-desc {
        text-align: center;
        font-size: small;
    }
}