.navbar-row {
    align-items: center;
}

/***************************************************************
 *                                                             *
 *                        search-box                           *
 *                                                             *
 ***************************************************************/
#form-search {
    margin-right: 2rem;
}


/***************************************************************
 *                                                             *
 *                          side nav                           *
 *                                                             *
 ***************************************************************/
.sidenav {
    width: 6%;
    position: fixed;
    z-index: 1;
    top: 40%;
    left: 10px;
    --bs-list-group-bg:rgba(255, 255, 255, 0.7) !important;
    --bs-list-group-action-hover-bg: #999;
    overflow-x: hidden;
    transition: 0.3s;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    text-align:center;
}

.sidenav .container {
    padding: 0;
}

.sidenav a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #555;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fff;
}

.sidenav-contents {
    padding: 0;
    margin: 0;
}

@media(max-width: 1000px) {
    .sidenav a {
        font-size: 5px;
    }
}

@media(max-width: 700px) {
    .sidenav a {
        font-size: 3px !important;
    }
}

/***************************************************************
 *                                                             *
 *                         offcanvas                           *
 *                                                             *
 ***************************************************************/
 .offcanvas-item.active {
    color: #fff !important;
    background-color: #444 !important;
    border-color: #444 !important;
}

/***************************************************************
 *                                                             *
 *                          products                           *
 *                                                             *
 ***************************************************************/
#products {
    height: 100vh;
    align-items: center;
    transition: all 0.2s ease-in-out 0s;
}

.products-title {
    font-weight: bold;
    text-align: center;
}

/***************************************************************
 *                                                             *
 *                          about tab                         *
 *                                                             *
 ***************************************************************/
#tablist a {
    font-size: 1.2rem;
}

.nav-tab-item {
    border-radius: 0.5rem;
    width: 30%;
}

#about {
    width: 100%;
}

.tab-content {
    width: 90%;
    margin: auto;
}

.tab-title {
    font-weight: bold;
    text-align: center;
    margin: 0 0 50px;
}

#intro {
    height: 90vh;
    margin: auto;
}

#intro-contents {
    width: 100%;
    height: 100%;
}

/***************************************************************
 *                                                             *
 *                        company items                        *
 *                                                             *
 ***************************************************************/
.cards-grid {
    padding-bottom: 5rem;
    display: grid;
    max-width: 100rem;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: 0.5rem;
}

.card-item img {
    display: block;
    border-radius: 0.5rem;
    width: 100%;
}

.product-img::after {
    position: absolute;
    display: inline-block;
    opacity: 1;
    content: "";
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.6);
    transition: all 0.2s ease;
}

.card {
    padding: 1rem 0;
}

.products-card {
    position: relative;
    border-radius: 1rem;
    transition: all 0.2s ease;
}

.products-card:hover {
    border: #999 5px solid;
    cursor: pointer;
}

.product-caption {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    z-index: 5;
    transition: all 0.2s ease;
}

.products-card:hover .product-caption,
.products-card:hover .product-img::after {
    opacity: 0;
}

/***************************************************************
 *                                                             *
 *                           history                           *
 *                                                             *
 ***************************************************************/
* {
    list-style: none;
}

.history h2 {
    position: relative;
    font-size: 33px;
    color: #000;
    line-height: 1;
}
.history h2:before {
    content: "";
    position: absolute;
    left: -48px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    border-radius: 100%;
    background: #fff;
    border: 5px solid #555;
    box-sizing: border-box;
}

.history div div {
    position: relative;
    padding: 0 0 0 48px;
}
.history div div:before {
    content: "";
    position: absolute;
    left: 8px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #ddd;
}
.history div div:first-child:before {
    top: 10px;
    height: calc(100% - 10px);
}

.history ol {
    padding: 20px 0 74px;
}
.history li {
    font-size: 17px;
    color: #000;
    line-height: 29px;
}

/***************************************************************
 *                                                             *
 *                           partners                          *
 *                                                             *
 ***************************************************************/
#partners {
    height: 95vh;
}

/***************************************************************
 *                                                             *
 *                          contact us                         *
 *                                                             *
 ***************************************************************/
#contact-map {
    position: relative;
    overflow: hidden;
    width: 30vw;
    height: 48vh;
}

#contact-map img {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 48vh;
    object-fit: cover;
}

@media(max-width: 800px) {
    #contact {
        padding: 0;
    }

    #contact-caption {
        padding-left: 0;
        padding-right: 0;
    }

    #contact-title {
        font-size: medium;
        text-align: center;
    }

    .contact-desc {
        font-size: small;
    }

    #contact-map, #contact-map img {
        height: 20vh;
    }
}